# Server
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/owntech
JWT_SECRET=your-secret-key
CLIENT_URL=https://owntechsolutions.vercel.app
SERVER_URL=https://owntechsolutions-backend.onrender.com
PORT=5000

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# WhatsApp (optional)
WHATSAPP_SESSION=your-session-id
